**/api/**
/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
test.ts
!.eslintrc.js
*.spec.ts
*.e2e-spec.ts
package.json
package-lock.json
proxy.conf.json
tsconfig.json
tsconfig.app.json
tsconfig.spec.json
