:host {
  background: url('~/src/assets/images/background/marvel-black-white-wallpaper.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 100%;
}

.card {
  display: flex;
  flex-flow: column;
}

.marvel-cards {
  display: flex;
  flex-flow: row;
  margin-top: 1rem;
}
